body {
    background: #FFFFFF;
    margin: 50px;
    margin-right: 50px;
   }
  .logo {
   margin-top: 50px;
   width: 50%;
   color: #6070FF;
   flex: none;
   order: 0;
   flex-grow: 0;
   } 
   .topnav {
    margin-left: 1000px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    }
   .top-left-bar {
    display: flex;
   }
   .rectangle-left {
    margin-top: 120px;
    width:-10px;
    margin-left: 20px;
    margin-bottom: -35px;
    
   }
   .elipse-left {
    margin-left: 65px;
   }
   .elipse-right {
    width: 20x;
    float: right;
    margin-top: -80px;
   }
   .rectangle-right {
    text-align: right;
    margin-top: -220px;
    margin-right: 80px;
    size: -20pz;
}
    .text h1 {
   float: center;
    height: 122px;
    margin-left: 140px; 
    letter-spacing: 0.37px;
    color: #091E42;
    font-family: 'Poppins';
    font-weight: 1000;
    font-size: 30px;
    letter-spacing: 0.37px;
    font-style: normal;
    margin-top: 300px; 
   }
   .text p {
    margin-left: 140px;
   }
.text {
   /* margin-left: 200px;  */
   }
   .social-media-icons p {
      font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: #7F8CFF;
   }
   .social-media-icons {
      margin-left: 340px;
   }
   .bottom-left-img {
      margin-left: 336px;
      margin-top: 100px;
   }
   .bottom-right-img {
      margin-left: 900px;
      margin-top: -40px;
   }
   .main1 {
      margin-top: 20px;
   }
   
